{% extends 'layouts/master.html.twig' %}

{% block titulo %} Animales {% endblock %}

{% block cabecera %}
  {{parent()}}

  <h2>{{ title }}</h2>
{% endblock %}

{% block contenido %}
  {#
  <h1>{{ title }}</h1>
  <h2>Tu nombre es: {{ nombre }}</h2>
  <h3>Tus apellidos son: {{ apellidos }}</h3>
  #}

  {# Crear variable en twig #}
  {% set perro = 'Pastor alemán' %}
  <h4>{{ perro }}</h4>

  {# Trabajar con arrays #}
  {{ dump(animales) }}
  {{ animales[1] }}

  {# Trabajar con arrays asociativos #}
  {{ dump(aves) }}
  {{ aves.tipo ~ ' - ' ~  aves.raza }}

  {# Condicionales #}
  {% if aves.tipo == 'palomo' %}
    <h1>Cuidado un palomo volador</h1>
  {% else %}
    <h2>No hay palomos a la vista</h2>
  {% endif %}

  {# Bucles #}
  {% if animales|length >= 0 %}
    <ul>
      {% for animal in animales %}
        <li>{{animal}}</li>
      {% endfor %}
    </ul>
  {% else %}
    <h2>No hay animales</h2>
  {% endif %}

  {% for i in 2..10 %}
    {{i}}<br/>
  {% endfor %}

  {# Evaluar variables: si empieza por... #}
  {% if aves.color starts with 'g' %}
    <h1>Empieza por 'g'</h1>
  {% endif %}

  {# Evaluar variables: si acaba por... #}
  {% if aves.color ends with 'is' %}
    <h1>Acaba por 'is'</h1>
  {% endif %}

{% endblock %}